:host {
  width: 700px;
  height: 400px;
  display: flex;
  flex-direction: column;
}

.form {
  flex: 1;
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.footer {
  background-color: black;
  margin-top: 20px;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer button {
  height: 40px;
  margin-right: 10px;
}
